@charset "UTF-8";
@font-face {
  font-family: myFont;
  src: url("/dest/fonts/myFont.eot");
  src: url("/dest/fonts/myFont.eot?#iefix") format("eot"), url("/dest/fonts/myFont.woff2") format("woff2"), url("/dest/fonts/myFont.woff") format("woff"), url("/dest/fonts/myFont.ttf") format("truetype"), url("/dest/fonts/myFont.svg#myFont") format("svg"); }

.tk-icon-test1:before, .tk-icon-test2:before {
  font-family: "myFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.tk-icon-test1:before {
  content: ""; }

.tk-icon-test2:before {
  content: ""; }
