@charset "UTF-8";
@font-face {
  src: url("/dest/fonts/.eot");
  src: url("/dest/fonts/.eot?#iefix") format("eot"), url("/dest/fonts/.woff2") format("woff2"), url("/dest/fonts/.woff") format("woff"), url("/dest/fonts/.ttf") format("truetype"), url("/dest/fonts/.svg#") format("svg"); }

.tk-icon-test1::before, .tk-icon-test2::before {
  font-family: "";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.tk-icon-test1::before {
  content: ""; }

.tk-icon-test2::before {
  content: ""; }
